.light-blue-list {
    --ion-background-color: var(--ion-color-custom-light-blue);
    --ion-item-background: var(--ion-color-custom-light-blue);
  }

.button {
    text-align: center;
    width: 95%;
    margin-left: 8px;
}

.medium-image {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Ensures the image is properly scaled within the container */
}

.card-title {
  display: flex;
}

.user-name{
  font-weight: bold;
  font-size: larger;
  padding-left: 8%;
  padding-top: 20%;
}



.video-player {
  width: 100%; /* Full width */
  max-width: 600px; /* Limit the maximum width */
  border: 2px solid rgb(69, 53, 240); /* Optional: Add a border */
  border-radius: 8px; /* Optional: Rounded corners */
}

.user-name-live{
  font-weight: bold;
  font-size: larger;
  padding-left: 8%;
  padding-top: 10%;
  color: red;
}

.media-button{
  display: flex;
  
}

.video-btn{
  width: 40%;
}

.mic-btn{
  width: 40%;
}